<form [formGroup]="form" (ngSubmit)="submit()">

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="email" />
      @if (form.controls.email.invalid && form.controls.email.touched) {
      <mat-error>Email invalide</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Mot de passe</mat-label>
      <input matInput type="password" formControlName="password" />
      @if (form.controls.password.invalid && form.controls.password.touched) {
      <mat-error>Mot de passe requis</mat-error>
      }
    </mat-form-field>
  </div>

  <div>
    <button mat-raised-button color="primary" type="submit" [disabled]="form.invalid">
      Se connecter
    </button>
  </div>
</form>
