.session-content {
  margin-bottom: 1rem;
}

.session-date {
  font-weight: bold;
}

.session-modalities {
  font-style: italic;
}

.session-metadata {
  margin-bottom: 1rem;
}

.session-comment {
  text-align: justify
}
