.session-content {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
}

.session-date {
  font-weight: bold;
}

.session-modalities {
  font-style: italic;
}

.session-metadata {
  width: 300px;
}

.session-section {
  border-right: 2px rgb(163, 149, 249) dotted;
  padding-left: 1rem;
  padding-right: 1rem;

  &:last-child {
    border-right: none;
  }
}

.session-comment {
  text-align: justify;
  width : 100%;
}

.session-moods {
  width: 300px;
}

.moods-prefix {
  text-decoration: underline;
}
