.session-content {
  margin-bottom: 1rem;
  display: flex;
}

.session-date {
  font-weight: bold;
}

.session-modalities {
  font-style: italic;
}

.session-metadata {
  margin-right: 1rem;
  min-width: 280px;
  max-width: 280px;
  border-right: 2px rgb(163, 149, 249) dotted
}

.session-comment {
  text-align: justify
}
